anyio==3.6.2
asgi-correlation-id==3.2.2
azure-common==1.1.28
azure-core==1.26.3
azure-identity==1.12.0
azure-keyvault-secrets==4.6.0
azure-servicebus==7.8.2
azure-storage-blob==12.14.1
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==2.0.12
click==8.0.3
cryptography==39.0.1
databricks-sql-connector==1.0.1
fastapi==0.92.0
gunicorn==20.1.0
guvicorn-logger==0.1.16
httpx==0.23.3
idna==3.4
isodate==0.6.1
jinja2==3.1.2
msal-extensions==1.0.0
msal==1.21.0
msrest==0.7.1
numpy==1.24.2
oauthlib==3.2.2
orjson==3.8.6
pandas==1.5.3
polars[all]==0.15.17
portalocker==2.7.0
psutil==5.9.4
pycparser==2.21
pydantic==1.10.5
pydantic[email]
Pygments==2.14.0
pyhumps==3.8.0
pyjwt==2.6.0
pysqlx-engine==0.2.15
python-dateutil==2.8.2
python-dotenv==0.21.1
pytz==2022.7.1
requests-oauthlib==1.3.1
requests==2.28.2
rfc3986==1.5.0
six==1.16.0
sniffio==1.3.0
starlette==0.25.0
thrift==0.16.0
typing-extensions==4.5.0
uamqp==1.6.3
urllib3==1.26.14
uvicorn==0.20.0
xlrd==2.0.1
XlsxWriter==3.0.3
# others
animal-case==0.5.1
pyodbc==4.0.35
pymssql==2.2.7
sqlalchemy==1.4.43
