name: ci

on:
  push:
    branches:
      - "main"
      - "dependabot*"
    
  pull_request:
    branches:
      - "release/*"

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Production - Build and Push
        if: github.ref == 'refs/heads/main'
        uses: docker/build-push-action@v3
        with:
          push: true
          tags: quartile/basepython:latest,quartile/basepython:release

      - name: Release - Build and Push
        if: contains(github.ref, 'release')
        uses: docker/build-push-action@v3
        with:
          push: true
          tags: quartile/basepython:release
        
      - name: Proposal Link - Build and Push
        if: github.ref == 'refs/heads/main'
        uses: docker/build-push-action@v3
        with:
          push: true
          tags: quartile/basepython:proposal-link
          file: ./dockerfile.proposal-link

      - name: Build only
        if: github.ref != 'refs/heads/main' && contains(github.ref, 'release') != true
        uses: docker/build-push-action@v3
        with:
          push: false
          tags: quartile/basepython:test
